.page_wrapper {
    display: flex;
    flex-wrap: wrap;
    background: #fdf0e9;
    margin: 0 auto;
    max-width: 1440px;
}
.header_container {
    background-color: #28293e;
    padding-top: 16px;
    margin: 0 auto;
}
.content_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background: #fdf0e9;
}
.footer {
    justify-items: baseline;
    margin: 0 auto;
}
