.page_wrapper {
    display: flex;
    // flex-wrap: wrap;
    height: 100%;
}
.header_container {
    background-color: #28293e;
    width: 100%;
    padding-top: 16px;
    margin: 0 auto;
}
.content_wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.footer {
margin-top: -1px;
justify-items: baseline;
}
